.banner__boton{
    background-color: aquamarine;
    position: absolute;
    top: 270px;
    left: 152px;
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 130px;
    margin-top: 0;
}