:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #FFFF;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #Eaf2fd;
  }

.cabecera{
    background: var(--texto-destaque);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
