.cabecera-logo{
    height: 18.500003814697266px;
    width: 63.10405349731445px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0%;
    right: 49.92%;
    top: 0%;
    bottom: 0%;
    margin-left: 157px;
}